.footer-section {
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.top-footer {
  width: 1170px;
  height: 500px;
  background: url(../img/footer.png) no-repeat center center / cover;
}
.top-footer h5 {
  width: 700px;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 80px 0 0 100px;
}
.top-footer img {
  margin-top: -4rem;
  padding: 80px 0 0 100px;
}
.top-footer input {
  margin: 30px 0 0 100px;
  width: 372px;
  height: 78px;
  gap: 0px;
  border-radius: 192px;
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.top-footer input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.33px;
  letter-spacing: 0.02em;
}

.top-footer input[type="text"] {
  padding: 3rem;
}
.top-footer .btn {
  width: 243px;
  height: 78px;
  gap: 0px;
  margin-top: 30px;
  border-radius: 192px;
  border: 1px;
  background: linear-gradient(328.68deg, #98aa28 13.03%, #d6ff7e 120.61%);
}
.top-footer .btn span {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.7px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2509803922);
}
.flex-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.bot-footer {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.row {
  width: 100%;
  height: 100%;
}
.social .bot-logo {
  width: 198px;
  height: 31.52px;
}
.social p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 30px;
}
.social-items img:nth-child(n + 2) {
  padding-left: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu .col {
  flex: 1;
}
.col:nth-child(3) {
  margin-left: 100px;
}
.col ul:first-child {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin-bottom: 10px;
}
.col li {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
}
.col a {
  color: #8c8c8c;
  text-decoration: none;
}
