@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Laptop L (1440px and up) */
@media only screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Rubik", sans-serif;
  }
  /* Your CSS rules for this breakpoint */
}

/* Laptop (1024px to 1439px) */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Your CSS rules for this breakpoint */
}

/* Tablet (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your CSS rules for this breakpoint */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Rubik", sans-serif;
  }

  /* Mobile L (425px to 767px) */
  @media only screen and (min-width: 425px) and (max-width: 767px) {
    /* Your CSS rules for this breakpoint */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Rubik", sans-serif;
    }
  }

  /* Mobile M (375px to 424px) */
  @media only screen and (min-width: 375px) and (max-width: 424px) {
    /* Your CSS rules for this breakpoint */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Rubik", sans-serif;
    }
  }

  /* Mobile S (up to 374px) */
  @media only screen and (max-width: 374px) {
    /* Your CSS rules for this breakpoint */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Rubik", sans-serif;
  }
}
