.partner-section {
  width: 100%;
  height: 140px;
  background: #f6fbf9;
}
.partner-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-list img {
  width: auto;
  height: 35px;
  margin-right: 50px;
  margin-left: 50px;
}
