.service-section {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 30px;

  padding: 30px;
}
.top-service {
  display: flex;
  justify-content: center;
}
.top-service-left {
  width: 1000px;
  height: 100%;
}
.top-service-left h1 {
  width: 500px;
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #253d32;
}
.top-service-left p {
  width: 400px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.top-service-left a {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #a3b938;
}
.top-service-right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content-list {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}
.content-list:nth-last-child(-n + 2) {
  margin-top: 3rem;
}
.content-list p {
  font-family: "Rubik", sans-serif;
  padding-top: 35px;
}
/* Thêm margin-bottom cho hai mục cuối cùng */
.strategy-description {
  width: 250px;
}
.bot-service {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.bot-service-left {
  width: 100%;
}
.bot-service-left img {
  width: 700px;
  height: 400px;
  padding-right: 100px;
}
.bot-service-right {
  width: 100%;
  /* margin: 0 10rem 0 15rem;
       */
  margin-right: 8rem;
  justify-content: left;
}
.bot-service-right h1 {
  width: 500px;
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  text-align: left;
}
.bot-service-right p {
  width: 440px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-top: 2rem;
}
.service-cta {
  display: flex;
  justify-content: left;
  padding-top: 50px;
}
